<!DOCTYPE html>
<html ng-app="effectiveKitchen">
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/libs/bootstrap/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">

  <script src="/libs/jquery/jquery.min.js"></script>
  <script src="/libs/bootstrap/bootstrap.js"></script>
  <script src="/libs/angular/angular.js"></script>
  <script src="/libs/angular-route/angular-route.js"></script>
  <script src="/libs/angular-resource/angular-resource.js"></script>

  <script src="/app/app.js"></script>
  <script src="/app/controllers.js"></script>
  <script src="/app/services.js"></script>
</head>
<body>
  <div class="view-container">
    <div ng-view class="view-frame"></div>
  </div>
</body>
</html>
